/* VARIABLES */
/* LISTAS */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* BODY */
body {
  background: #cfffb3;
  background: linear-gradient(0deg, #cfffb3 0%, #e9ffdb 100%); }

/* ESTILO DEL NAVBAR */
header {
  background-color: #b5e09c;
  display: flex;
  justify-content: space-around; }
  header h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px; }
    header h1 a {
      text-decoration: none;
      color: black; }
      header h1 a span {
        color: #eeffe6; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin: 25px 50px 0 50px;
      font-size: 25px;
      transition: all 300ms ease; }
      header nav ul li:hover {
        font-size: 26px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); }
    header nav ul a {
      text-decoration: none;
      color: black;
      font-weight: bold; }

/* ESTILO DEL INICIO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  text-align: center;
  color: #eeffe6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/woman-3701713_1280.jpg"); }
  .hero h2 {
    font-size: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1.7rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    cursor: pointer; }
  .hero p {
    font-size: 30px;
    margin-top: 30px;
    font-weight: 700; }

.conteinerInicio {
  display: flex;
  flex-direction: column; }

.presentacion div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px; }
  .presentacion div div {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center; }
    .presentacion div div h2 {
      font-size: 30px;
      margin: 50px 0 30px 0; }
    .presentacion div div p {
      font-size: 20px;
      width: 100%; }
  .presentacion div img {
    width: 600px;
    height: 650px;
    margin: 40px 0 40px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 5%; }

/* ESTILO DE MASAJES */
.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/tea-lights-2223898_1280.jpg"); }
  .hero2 h2 {
    font-size: 80px;
    color: #eeffe6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    cursor: pointer; }

.conteinerMasaje {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .conteinerMasaje h3 {
    font-size: 40px;
    margin: 20px 0 10px 0; }

.tiposMasajes {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  row-gap: 10px;
  justify-content: center;
  align-items: center; }
  .tiposMasajes div {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    margin: 20px 0 20px 50px;
    border-radius: 20px;
    background-image: url(../img/fondo312312ds.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 400ms ease;
    align-items: center;
    justify-content: center; }
    .tiposMasajes div:hover {
      box-shadow: 1px 1px 20px #2b2b2b;
      transform: translateY(-2%); }
    .tiposMasajes div h2 {
      text-align: center;
      font-size: 30px;
      padding: 10px; }
    .tiposMasajes div p {
      padding: 10px;
      text-align: center;
      font-size: 20px; }
    .tiposMasajes div img {
      width: 50%;
      padding: 10px;
      border-radius: 40px; }

/* ESTILO DE PRODUCTOS*/
.hero3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/honey-823614_1280.jpg"); }
  .hero3 h2 {
    font-size: 80px;
    color: #eeffe6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    cursor: pointer; }

.container {
  display: flex;
  flex-direction: column; }
  .container h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center; }

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  height: 455px;
  width: 300px;
  padding: 25px;
  margin: 20px 30px 0 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); }
  .tarjeta img {
    height: 75%;
    padding: 10px; }
  .tarjeta div {
    text-align: center;
    margin-bottom: 20px; }
    .tarjeta div h3 {
      margin-bottom: 20px; }
    .tarjeta div a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      background-color: rgba(153, 148, 148, 0.2);
      padding: 5px;
      border-radius: 25px;
      transition: all 400ms ease; }
      .tarjeta div a:hover {
        font-size: 21px;
        background-color: rgba(94, 102, 90, 0.308); }

/* ESTILOS DE GALERIA */
.hero4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/sunset-4086848_1920.jpg"); }
  .hero4 h2 {
    color: #000000;
    font-size: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 1.7rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    cursor: pointer; }
  .hero4 a {
    background-color: #20202073;
    font-weight: 700;
    color: #eeffe6;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 300ms ease; }
    .hero4 a:hover {
      background-color: #2b2b2bc7; }

/* EXTEND */
.blank, .contenedorGaleria, body main section {
  display: flex;
  justify-content: center;
  align-items: center; }

/*       */
.blank {
  width: 100%;
  height: 20vh;
  background-color: #bee0aa; }
  .blank p {
    color: black;
    font-size: 30px;
    font-weight: 700; }

.container2 {
  margin: 20px 0 20px 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 350px;
  gap: 50px; }
  .container2 img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    border: solid 1px; }

/* MIXINS */
/*       */
/* ESTILOS DE CONTACTO */
.conteinerContacto {
  background-image: url(../img/fondo312312ds.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px; }

.tituloContacto {
  font-size: 30px;
  text-align: center; }
  .tituloContacto span {
    color: white; }

.formulario {
  display: flex;
  flex-direction: column; }
  .formulario label {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0; }
  .formulario input {
    background-color: #cac9c9;
    border: none;
    border-radius: 5px;
    width: 600px;
    padding: 4px;
    cursor: pointer;
    margin: 10px 0 10px 0; }

.boton button {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: rgba(165, 165, 165, 0.623);
  transition: all 300ms ease; }
  .boton button:hover {
    background-color: #bee0aa;
    color: white; }

.containerBS {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  text-align: center; }
  .containerBS h2 {
    font-size: 30px;
    font-weight: 700; }

.accordion {
  margin: 20px 0 20px 0;
  width: 700px; }
  .accordion iframe {
    margin: 20px 0 10px 0;
    border-radius: 30px 0 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    height: 300px;
    width: 400px; }

.accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .accordion-body div {
    display: block; }
    .accordion-body div img {
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      padding: 5px;
      margin: 10px 20px 10px 20px;
      width: 30%;
      height: 30%; }

/* ESTILO DEL FOOTER */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #b5e09c;
  padding: 20px; }
  footer p {
    font-size: 15px; }

.redes {
  display: flex;
  justify-content: center;
  align-items: center; }
  .redes i {
    font-size: 40px;
    margin: 30px;
    transition: all 300ms ease; }
    .redes i:hover {
      color: #afafaf; }
  .redes a {
    color: black; }

/* MEDIAQUERYS */
/*  1300  */
@media screen and (max-width: 1300px) {
  /* NAVEGADOR */
  header h1 {
    font-size: 38px; }
  header nav ul li {
    margin: 20px 40px 0 40px;
    font-size: 20px; }
  /*          */
  /*  INICIO  */
  .presentacion div {
    flex-direction: column; }
    .presentacion div div {
      width: 75%; }
  /*      */
  /* HERO */
  .hero p {
    padding: 10px; }
  /*       */ }

/*       */
/* 1280px */
@media screen and (max-width: 1280px) {
  /* CONTACTO */
  .formulario input {
    width: 500px; }
  /*       */ }

/*       */
/* 1080px */
@media screen and (max-width: 1080px) {
  /* GALERIA */
  .container2 {
    margin-left: 5%; }
    .container2 img {
      width: 90%;
      height: 90%; }
  /*       */ }

/*       */
/* 1024px */
@media screen and (max-width: 1024px) {
  /* NAVEGADOR */
  header nav ul li {
    margin: 20px 30px 0 30px; }
  /*          */
  /*   HERO   */
  .hero h2 {
    font-size: 70px;
    padding: 1rem; }
  .hero2 h2 {
    font-size: 70px; }
  .hero3 h2 {
    font-size: 70px; }
  .hero4 h2 {
    font-size: 70px; }
  /*          */
  /* TARJETAS DE PRODUCTOS */
  .tarjeta {
    margin-top: 30px;
    margin-bottom: 30px; }
  /*          */
  /* CONTACTO */
  .conteinerContacto {
    width: 65%; } }

/*       */
/* ELEMNETOS RESPONSIVE */
.icon__menu {
  font-size: 27px;
  height: 100%;
  display: none; }

#label__check {
  width: 25px;
  display: none; }

#check__menu {
  display: none; }

/*               */
/* 960px */
@media screen and (max-width: 960px) {
  /* NAVEGADOR */
  header h1 {
    font-size: 35px; }
  header nav ul li {
    margin: 20px 20px 0 20px; }
  /*       */
  /* GALERIA */
  .blank p {
    font-size: 27px; }
  .container2 img {
    width: 80%;
    height: 80%; }
  /*       */ }

/*       */
/* 850px */
@media screen and (max-width: 850px) {
  .blank p {
    font-size: 23px; } }

/*       */
/* 812px */
@media screen and (max-width: 812px) {
  /* NAVEGADOR */
  header h1 {
    font-size: 30px; }
  header nav ul li {
    font-size: 18px;
    margin: 17px 20px 0 20px; }
  /*       */
  /* HERO */
  .hero h2 {
    font-size: 55px; }
  .hero p {
    font-size: 25px; }
  /*       */ }

/*       */
/* 768px */
@media screen and (max-width: 768px) {
  /* NAVEGADOR */
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    header h1 {
      font-size: 30px; }
    header nav ul {
      text-align: center;
      flex-direction: column;
      height: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 100ms ease-in; }
  .icon__menu {
    margin-top: 20px; }
  #label__check {
    display: block; }
  #check__menu:checked ~ nav ul {
    height: 250px;
    opacity: 1;
    visibility: visible; }
  /*          */
  /*   HERO   */
  .hero h2 {
    font-size: 50px;
    padding: 0.8rem; }
  .hero p {
    font-size: 25px; }
  .hero2 h2 {
    font-size: 50px;
    padding: 0.8rem; }
  .hero3 h2 {
    font-size: 50px;
    padding: 0.8rem; }
  .hero4 h2 {
    font-size: 50px;
    padding: 0.8rem; }
  /*          */
  /* INICIO */
  .presentacion img {
    width: 100%;
    height: 100%; }
  /*        */
  /* GALERIA */
  .blank p {
    width: 90%;
    font-size: 25px;
    text-align: center; }
  .container2 {
    grid-template-columns: 1fr;
    margin-left: 0; }
    .container2 img {
      width: 100%;
      height: 100%; }
  /*       */
  /* CONTACTO */
  .conteinerContacto {
    width: 85%; }
  .formulario input {
    width: 400px; }
  .accordion {
    width: 500px; }
  /*          */ }

/*       */
/* 650px */
@media screen and (max-width: 650px) {
  /* INICIO */
  .presentacion div div {
    width: 100%; }
  .presentacion div img {
    margin-left: 0;
    width: 400px;
    height: 450px; }
  /*       */
  /* MASAJES */
  .tiposMasajes div {
    margin-left: 0; }
  /*       */ }

/*       */
/* 604px */
@media screen and (max-width: 604px) {
  /* HERO */
  .hero h2 {
    font-size: 40px; }
  .hero p {
    font-size: 20px; }
  /*       */
  /* FOOTER */
  footer p {
    text-align: center; }
  .redes i {
    font-size: 35px; }
  /*       */
  /* MASAJES */
  .tiposMasajes div {
    width: 400px;
    height: 500px; }
    .tiposMasajes div h2 {
      font-size: 25px; }
    .tiposMasajes div p {
      font-size: 18px; }
  /*       */
  /* CONTACTO */
  .conteinerContacto {
    width: 95%; }
  .accordion {
    width: 400px; }
  /*          */ }

/*       */
/* 500px */
@media screen and (max-width: 500px) {
  /* HERO */
  .hero h2 {
    font-size: 35px; }
  /*       */
  /* MASAJES */
  .tiposMasajes div {
    width: 300px;
    height: 400px; }
    .tiposMasajes div h2 {
      font-size: 23px; }
    .tiposMasajes div p {
      font-size: 17px; }
  /*       */
  /* GALERIA */
  .container2 {
    margin-left: 6%; }
    .container2 img {
      width: 90%;
      height: 90%; }
  /*       */
  /* CONTACTO */
  .formulario input {
    width: 300px; }
  .accordion {
    width: 300px; }
  /*       */ }

/*       */
/* 415px */
@media screen and (max-width: 415px) {
  /* HERO */
  .hero h2 {
    font-size: 30px; }
  .hero3 h2 {
    font-size: 33px; }
  /*       */
  /* INICIO */
  .presentacion div img {
    width: 300px;
    height: 350px; }
  /*       */
  /* PRODUCTO */
  .tarjeta {
    height: 400px;
    width: 250px; }
  /*       */
  /* GALERIA */
  .container2 {
    margin-left: 70px; }
    .container2 img {
      width: 80%;
      height: 80%; }
  /*       */ }

/*       */
