/* VARIABLES */

$color-body: rgb(207,255,179);
$color-header: #b5e09c;
$color-negro: black;

/* LISTAS */

$font-size: 1300px, 1280px, 1080px, 1024px, 960px, 850px, 812px, 768px, 650px, 604px, 500px, 415px;